.post
  img
    max-width: 100%
  .title
    margin-bottom: 30px
    padding-bottom: 20px
    border-bottom: 1px solid #eee
    h1
      color: #404040
    time
      display: flex
      align-items: center
      color: #999
      :global(.anticon)
        margin-right: 5px
