html,
body
  margin: 0
  width: 100%
  height: 100%
  background: #f6f6f6

a
  color: inherit
  text-decoration: none

.ant-form-item-label
  font-weight: bold

.ant-modal-header 
  margin-bottom: 30px !important

.btn
  margin-left: 8px
  color: #1890ff
  cursor: pointer

.del 
  color: red !important
  @extend .btn