.editor
  width: 100%

  :global(.ant-spin)
    background: rgb(255, 255, 255)
    max-height: max-content !important

  :global(.tox-promotion),:global(.tox-statusbar__branding)
    display: none
    
  :global(.tox-edit-area)::before
    border: none !important