$height: 580px
  
.editor
  width: 100%

  textarea
    min-height: $height

  :global(.ant-spin)
    background: #fff
    max-height: max-content !important

  :global(.tox-promotion),:global(.tox-statusbar__branding)
    display: none
